<div data-ng-controller="searchresultscontroller">
    <div ng-include="'/assets/header.html'">
    </div>
    <div style="padding-left:2cm;padding-right:2cm" ng-include="templateURL">
    </div>
</div>
