<div class="container">
    <div>
        <div class="row">
            <div class="span3">
                <br/>
                <ul ng-repeat="result in search_results">
                    <li>
                        {{result.url}}
                    </li>
                </ul>
            </div>
        </div>
